.mangaCardWrapper{
    display: flex;
    border: solid 1px;
    margin-bottom: 20px;
}

.mangaInfoWrapper{
    display: block;
}

.titleText{
    font-size: 30px;
}

.horizontal{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}