* {
  box-sizing: border-box;
  color: white;
  padding: 10px;
  margin: 0;
}

html,
body {
  background-image: linear-gradient(black,rgb(16, 22, 44));
  height: 100%;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

h1{
  text-align: center;
}

Header{
  text-align: center;
}